<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">SS Expenses</h1>
		
		<form ng-submit="db.Add()" onsubmit="$('#ExpAmount').focus()" >
			<input id="ExpAmount" ng-model="row.amount" type="text" placeholder="amount" autofocus /> | <input ng-model="row.description" type="text" placeholder="description" />
			<input type='submit' value="Add Expense!" />
		</form>
		
		<hr />
		
		<ul>
			<li ng-repeat="exp in db | reverse">
				<a href ng-click="db.$remove(exp)">[x]</a> {{exp.amount}} | {{exp.description}}
			</li>
		</ul>
	</div>	
	
	<!-- /.col-lg-12 -->
</div>